<div class="container">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="20px grid" *ngIf="projects">
        <div fxFlex="1 0 300px" *ngFor="let project of projects">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{project.title}}</mat-card-title>
                    <mat-card-subtitle> {{project.subtitle}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Arduino_ftdi_chip-1.jpg" alt="project">
                <mat-card-content>
                    <p>
                        {{project.description}}
                    </p>
                </mat-card-content>
                <mat-card-action>
                    <button mat-button>GO</button>
                </mat-card-action>
            </mat-card>
        </div>
    </div>
</div>