<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div>
        <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>C3PO</mat-card-title>
              <mat-card-subtitle>Ingeniero qlo bkn</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/c3po.jpg" alt="Me">
            <mat-card-content>
              <p>
                Ingeniero qlo bkn que salio de una universidad como las hueas pero que igual hace weas bknes
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>MAIL</button>
              <button mat-button>LINKEDIN</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
