<div class="container">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <div>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{description.name}}</mat-card-title>
                    <mat-card-subtitle>{{description.carrer}}</mat-card-subtitle>
                </mat-card-header>
                <img height="400px" mat-card-image src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1dbc1935-6542-4ee3-822f-135cff4ba62c/ddqmntf-6f912701-c4d5-4e90-a8ce-552156dc02e7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWRiYzE5MzUtNjU0Mi00ZWUzLTgyMmYtMTM1Y2ZmNGJhNjJjXC9kZHFtbnRmLTZmOTEyNzAxLWM0ZDUtNGU5MC1hOGNlLTU1MjE1NmRjMDJlNy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.F6zeThf2-pUSRD42EFlOl5GcwoFMIyzWHPrAsPou-rU"
                    alt="Me">
                <mat-card-content>
                    <p>
                        {{description.selfdescription}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>MAIL</button>
                    <button mat-button>LINKEDIN</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            {{description.history}}
        </div>
    </div>
</div>